---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app langfuse-dev
  namespace: sensei
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  maxHistory: 3
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      langfuse-dev:
        replicas: 1
        containers:
          web:
            image:
              repository: ghcr.io/langfuse/langfuse
              tag: 3.148.0@sha256:be1f0a089673cd85e2f2e65f2a7abd9ede784e73fb14ffc26ccf74e5506c120a
            env:
              NEXTAUTH_URL: https://langfuse-dev.${SECRET_DOMAIN_TWO}
              NEXTAUTH_SECRET: ${SECRET_LANGFUSE_SECRET}
              HOSTNAME: 0.0.0.0
              AUTH_CUSTOM_CLIENT_ID: langfuse-dev
              AUTH_CUSTOM_CLIENT_SECRET: ${SECRET_OAUTH_CLIENT_SECRET}
              AUTH_CUSTOM_SCOPE: openid profile email groups
              AUTH_CUSTOM_NAME: authelia
              AUTH_CUSTOM_ISSUER: https://auth.${SECRET_DOMAIN}
              AUTH_CUSTOM_CHECKS: state
              AUTH_CUSTOM_ALLOW_ACCOUNT_LINKING: true
              DATABASE_URL: postgres://${SECRET_PGADMIN_USER}:${SECRET_PGADMIN_PASSWORD}@postgres-lb-vector.database.svc.cluster.local:5432/langfuse-dev
              SALT: ${SECRET_LANGFUSE_SALT}
              ENCRYPTION_KEY: ${SECRET_LANGFUSE_ENCRYPTION_KEY}
              CLICKHOUSE_DB: langfuse-dev
              CLICKHOUSE_URL: http://clickhouse.database.svc.cluster.local:8123
              CLICKHOUSE_MIGRATION_URL: clickhouse://clickhouse.database.svc.cluster.local:9000
              CLICKHOUSE_USER: ${SECRET_CLICKHOUSE_USER}
              CLICKHOUSE_PASSWORD: ${SECRET_CLICKHOUSE_PASSWORD}
              CLICKHOUSE_CLUSTER_ENABLED: false
              REDIS_CONNECTION_STRING: redis://redis.database.svc.cluster.local:6379
              LANGFUSE_S3_EVENT_UPLOAD_ENDPOINT: http://minio.kube-system.svc.cluster.local:9000
              LANGFUSE_S3_EVENT_UPLOAD_BUCKET: langfuse-dev
              LANGFUSE_S3_EVENT_UPLOAD_REGION: us-east-1
              LANGFUSE_S3_EVENT_UPLOAD_ACCESS_KEY_ID: ${SECRET_MINIO_ACCESS_KEY}
              LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY: ${SECRET_MINIO_SECRET_KEY}
              LANGFUSE_S3_EVENT_UPLOAD_FORCE_PATH_STYLE: true
              LANGFUSE_S3_EVENT_UPLOAD_PREFIX: events/
              LANGFUSE_S3_MEDIA_UPLOAD_ENDPOINT: http://minio.kube-system.svc.cluster.local:9000
              LANGFUSE_S3_MEDIA_UPLOAD_BUCKET: langfuse-dev
              LANGFUSE_S3_MEDIA_UPLOAD_REGION: us-east-1
              LANGFUSE_S3_MEDIA_UPLOAD_ACCESS_KEY_ID: ${SECRET_MINIO_ACCESS_KEY}
              LANGFUSE_S3_MEDIA_UPLOAD_SECRET_ACCESS_KEY: ${SECRET_MINIO_SECRET_KEY}
              LANGFUSE_S3_MEDIA_UPLOAD_FORCE_PATH_STYLE: true
              LANGFUSE_S3_MEDIA_UPLOAD_PREFIX: media/
          worker:
            image:
              repository: ghcr.io/langfuse/langfuse-worker
              tag: 3.147.0@sha256:f5e629c2f6baaaf4b98173ddfcce78a776ec499cf5983249f4cc3e1d29837084
            env:
              DATABASE_URL: postgres://${SECRET_PGADMIN_USER}:${SECRET_PGADMIN_PASSWORD}@postgres-lb-vector.database.svc.cluster.local:5432/langfuse-dev
              SALT: ${SECRET_LANGFUSE_SALT}
              ENCRYPTION_KEY: ${SECRET_LANGFUSE_ENCRYPTION_KEY}
              CLICKHOUSE_DB: langfuse-dev
              CLICKHOUSE_URL: http://clickhouse.database.svc.cluster.local:8123
              CLICKHOUSE_MIGRATION_URL: clickhouse://clickhouse.database.svc.cluster.local:9000
              CLICKHOUSE_USER: ${SECRET_CLICKHOUSE_USER}
              CLICKHOUSE_PASSWORD: ${SECRET_CLICKHOUSE_PASSWORD}
              CLICKHOUSE_CLUSTER_ENABLED: false
              REDIS_CONNECTION_STRING: redis://redis.database.svc.cluster.local:6379
              LANGFUSE_S3_EVENT_UPLOAD_ENDPOINT: http://minio.kube-system.svc.cluster.local:9000
              LANGFUSE_S3_EVENT_UPLOAD_BUCKET: langfuse-dev
              LANGFUSE_S3_EVENT_UPLOAD_REGION: us-east-1
              LANGFUSE_S3_EVENT_UPLOAD_ACCESS_KEY_ID: ${SECRET_MINIO_ACCESS_KEY}
              LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY: ${SECRET_MINIO_SECRET_KEY}
              LANGFUSE_S3_EVENT_UPLOAD_FORCE_PATH_STYLE: true
              LANGFUSE_S3_EVENT_UPLOAD_PREFIX: events/
              LANGFUSE_S3_MEDIA_UPLOAD_ENDPOINT: http://minio.kube-system.svc.cluster.local:9000
              LANGFUSE_S3_MEDIA_UPLOAD_BUCKET: langfuse-dev
              LANGFUSE_S3_MEDIA_UPLOAD_REGION: us-east-1
              LANGFUSE_S3_MEDIA_UPLOAD_ACCESS_KEY_ID: ${SECRET_MINIO_ACCESS_KEY}
              LANGFUSE_S3_MEDIA_UPLOAD_SECRET_ACCESS_KEY: ${SECRET_MINIO_SECRET_KEY}
              LANGFUSE_S3_MEDIA_UPLOAD_FORCE_PATH_STYLE: true
              LANGFUSE_S3_MEDIA_UPLOAD_PREFIX: media/

    service:
      web:
        controller: langfuse-dev
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: 192.168.3.44
        ports:
          http:
            port: &port 3000
      worker:
        controller: langfuse-dev
        ports:
          http:
            port: 3030
    route:
      main:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: "Sensei Services"
          gethomepage.dev/icon: openai.svg
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        hostnames:
          - langfuse-dev.${SECRET_DOMAIN_TWO}
        rules:
          - backendRefs:
              - name: langfuse-dev-web
                port: *port
