---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: langfuse-dev
  namespace: sensei
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  maxHistory: 3
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      langfuse-dev:
        replicas: 1
        containers:
          web:
            image:
              repository: ghcr.io/langfuse/langfuse
              tag: 3.143.0@sha256:4a1b64ae68949ad2af231068672db2ee333491aa880e13ae0b23cffb083217e5
              # imagePullPolicy: IfNotPresent
            env:
              NEXTAUTH_URL: https://langfuse-dev.${SECRET_DOMAIN_TWO}
              NEXTAUTH_SECRET: ${SECRET_LANGFUSE_SECRET}
              HOSTNAME: 0.0.0.0
              AUTH_CUSTOM_CLIENT_ID: langfuse-dev
              AUTH_CUSTOM_CLIENT_SECRET: ${SECRET_OAUTH_CLIENT_SECRET}
              AUTH_CUSTOM_SCOPE: openid profile email groups
              AUTH_CUSTOM_NAME: authelia
              AUTH_CUSTOM_ISSUER: https://auth.${SECRET_DOMAIN}
              AUTH_CUSTOM_CHECKS: state
              AUTH_CUSTOM_ALLOW_ACCOUNT_LINKING: true
              DATABASE_URL: postgres://${SECRET_PGADMIN_USER}:${SECRET_PGADMIN_PASSWORD}@postgres-lb-vector.database.svc.cluster.local:5432/langfuse-dev
              SALT: ${SECRET_LANGFUSE_SALT}
              ENCRYPTION_KEY: ${SECRET_LANGFUSE_ENCRYPTION_KEY}
              CLICKHOUSE_DB: langfuse-dev
              CLICKHOUSE_URL: http://clickhouse.database.svc.cluster.local:8123
              CLICKHOUSE_MIGRATION_URL: clickhouse://clickhouse.database.svc.cluster.local:9000
              CLICKHOUSE_USER: ${SECRET_CLICKHOUSE_USER}
              CLICKHOUSE_PASSWORD: ${SECRET_CLICKHOUSE_PASSWORD}
              CLICKHOUSE_CLUSTER_ENABLED: false
              REDIS_CONNECTION_STRING: redis://redis.database.svc.cluster.local:6379
              LANGFUSE_S3_EVENT_UPLOAD_ENDPOINT: http://minio.kube-system.svc.cluster.local:9000
              LANGFUSE_S3_EVENT_UPLOAD_BUCKET: langfuse-dev
              LANGFUSE_S3_EVENT_UPLOAD_REGION: us-east-1
              LANGFUSE_S3_EVENT_UPLOAD_ACCESS_KEY_ID: ${SECRET_MINIO_ACCESS_KEY}
              LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY: ${SECRET_MINIO_SECRET_KEY}
              LANGFUSE_S3_EVENT_UPLOAD_FORCE_PATH_STYLE: true
              LANGFUSE_S3_EVENT_UPLOAD_PREFIX: events/
              LANGFUSE_S3_MEDIA_UPLOAD_ENDPOINT: http://minio.kube-system.svc.cluster.local:9000
              LANGFUSE_S3_MEDIA_UPLOAD_BUCKET: langfuse-dev
              LANGFUSE_S3_MEDIA_UPLOAD_REGION: us-east-1
              LANGFUSE_S3_MEDIA_UPLOAD_ACCESS_KEY_ID: ${SECRET_MINIO_ACCESS_KEY}
              LANGFUSE_S3_MEDIA_UPLOAD_SECRET_ACCESS_KEY: ${SECRET_MINIO_SECRET_KEY}
              LANGFUSE_S3_MEDIA_UPLOAD_FORCE_PATH_STYLE: true
              LANGFUSE_S3_MEDIA_UPLOAD_PREFIX: media/
          worker:
            image:
              repository: ghcr.io/langfuse/langfuse-worker
              tag: 3.144.0@sha256:12671e40a040ae875e9a63c432684ea51a196fd35ffc771a4cda2b8342f2884d
            env:
              DATABASE_URL: postgres://${SECRET_PGADMIN_USER}:${SECRET_PGADMIN_PASSWORD}@postgres-lb-vector.database.svc.cluster.local:5432/langfuse-dev
              SALT: ${SECRET_LANGFUSE_SALT}
              ENCRYPTION_KEY: ${SECRET_LANGFUSE_ENCRYPTION_KEY}
              CLICKHOUSE_DB: langfuse-dev
              CLICKHOUSE_URL: http://clickhouse.database.svc.cluster.local:8123
              CLICKHOUSE_MIGRATION_URL: clickhouse://clickhouse.database.svc.cluster.local:9000
              CLICKHOUSE_USER: ${SECRET_CLICKHOUSE_USER}
              CLICKHOUSE_PASSWORD: ${SECRET_CLICKHOUSE_PASSWORD}
              CLICKHOUSE_CLUSTER_ENABLED: false
              REDIS_CONNECTION_STRING: redis://redis.database.svc.cluster.local:6379
              LANGFUSE_S3_EVENT_UPLOAD_ENDPOINT: http://minio.kube-system.svc.cluster.local:9000
              LANGFUSE_S3_EVENT_UPLOAD_BUCKET: langfuse-dev
              LANGFUSE_S3_EVENT_UPLOAD_REGION: us-east-1
              LANGFUSE_S3_EVENT_UPLOAD_ACCESS_KEY_ID: ${SECRET_MINIO_ACCESS_KEY}
              LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY: ${SECRET_MINIO_SECRET_KEY}
              LANGFUSE_S3_EVENT_UPLOAD_FORCE_PATH_STYLE: true
              LANGFUSE_S3_EVENT_UPLOAD_PREFIX: events/
              LANGFUSE_S3_MEDIA_UPLOAD_ENDPOINT: http://minio.kube-system.svc.cluster.local:9000
              LANGFUSE_S3_MEDIA_UPLOAD_BUCKET: langfuse-dev
              LANGFUSE_S3_MEDIA_UPLOAD_REGION: us-east-1
              LANGFUSE_S3_MEDIA_UPLOAD_ACCESS_KEY_ID: ${SECRET_MINIO_ACCESS_KEY}
              LANGFUSE_S3_MEDIA_UPLOAD_SECRET_ACCESS_KEY: ${SECRET_MINIO_SECRET_KEY}
              LANGFUSE_S3_MEDIA_UPLOAD_FORCE_PATH_STYLE: true
              LANGFUSE_S3_MEDIA_UPLOAD_PREFIX: media/
    defaultPodOptions:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: NotIn
                    values: ["mars"]
    service:
      web:
        controller: langfuse-dev
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetes.io/hostname: langfuse-dev.${SECRET_DOMAIN_TWO}
          io.cilium/lb-ipam-ips: 192.168.3.44
        ports:
          http:
            port: 3000
      worker:
        controller: langfuse-dev
        ports:
          http:
            port: 3030

    ingress:
      web:
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN_TWO}"
          hajimari.io/enable: "true"
          hajimari.io/icon: mdi:math-compass
        className: external
        enabled: true
        hosts:
          - host: langfuse-dev.${SECRET_DOMAIN_TWO}
            paths:
              - path: /
                service:
                  identifier: web
                  port: 3000
        tls:
          - hosts:
              - langfuse-dev.${SECRET_DOMAIN_TWO}
            # secretName: "${SECRET_DOMAIN/./-}-production-tls"
