---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 80.14.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  install:
    crds: Skip
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: Skip
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: kube-prometheus-stack-crds
      namespace: observability
    - name: openebs
      namespace: openebs-system
  values:
    crds:
      enabled: false
    cleanPrometheusOperatorObjectNames: true

    kubelet:
      enabled: true
      serviceMonitor:
        metricRelabelings:
          # Drop high cardinality labels
          - action: labeldrop
            regex: (uid)
          - action: labeldrop
            regex: (id|name)
          - action: drop
            sourceLabels: ["__name__"]
            regex: (rest_client_request_duration_seconds_bucket|rest_client_request_duration_seconds_sum|rest_client_request_duration_seconds_count)
    kubeApiServer:
      enabled: true
      serviceMonitor:
        metricRelabelings:
          # Drop high cardinality labels
          - action: drop
            sourceLabels: ["__name__"]
            regex: (apiserver|etcd|rest_client)_request(|_sli|_slo)_duration_seconds_bucket
          - action: drop
            sourceLabels: ["__name__"]
            regex: (apiserver_response_sizes_bucket|apiserver_watch_events_sizes_bucket)
    kubeControllerManager:
      enabled: true
      endpoints: &cp
        - 192.168.3.101
        - 192.168.3.214
        - 192.168.3.241
    kubeEtcd:
      enabled: true
      endpoints: *cp
    kubeScheduler:
      enabled: true
      endpoints: *cp
    kubeProxy:
      enabled: false
    prometheus:
      # ingress:
      #   enabled: true
      #   annotations:
      #     external-dns.alpha.kubernetes.io/target: internal.${SECRET_DOMAIN}
      #   ingressClassName: internal
      #   hosts: ["prometheus.${SECRET_DOMAIN}"]
      #   pathType: Prefix
      prometheusSpec:
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        ruleSelectorNilUsesHelmValues: false
        scrapeConfigSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        enableAdminAPI: true
        walCompression: true
        initContainers:
          - name: clear-corrupt-wal
            image: docker.io/library/busybox:1.37.0
            imagePullPolicy: IfNotPresent
            command:
              - /bin/sh
              - -c
              - |
                if [ -d /prometheus/wal ]; then
                  echo "Removing potentially corrupt WAL/head data";
                  rm -rf /prometheus/wal /prometheus/chunks_head;
                fi
            volumeMounts:
              - name: prometheus
                mountPath: /prometheus
        enableFeatures:
          - memory-snapshot-on-shutdown
        retention: 14d
        retentionSize: 50GB
        resources:
          requests:
            cpu: 100m
          limits:
            memory: 1500Mi
        storageSpec:
          volumeClaimTemplate:
            metadata:
              name: prometheus
            spec:
              storageClassName: openebs-hostpath
              resources:
                requests:
                  storage: 55Gi
    extraManifests:
      # - apiVersion: gateway.networking.k8s.io/v1
      #   kind: HTTPRoute
      #   metadata:
      #     name: kube-prometheus-stack-alertmanager
      #     namespace: "{{ .Release.Namespace }}"
      #     annotations:
      #       gethomepage.dev/enabled: "true"
      #       gethomepage.dev/icon: prometheus.png
      #       gethomepage.dev/name: Prometheus
      #       gethomepage.dev/group: Observability
      #       gethomepage.dev/app: prometheus
      #       gethomepage.dev/description: Monitoring Scrape Service
      #       gethomepage.dev/widget.type: prometheus
      #       gethomepage.dev/widget.url: http://kube-prometheus-stack-prometheus.observability:9090
      #       internal-dns.alpha.kubernetes.io/target: internal.${SECRET_DOMAIN}
      #   spec:
      #     hostnames:
      #       - "alertmanager.${SECRET_DOMAIN}"
      #     parentRefs:
      #       - name: internal
      #         namespace: network
      #         sectionName: https
      #     rules:
      #       - matches:
      #           - path:
      #               type: PathPrefix
      #               value: /
      #         backendRefs:
      #           - group: ""
      #             kind: Service
      #             name: kube-prometheus-stack-alertmanager
      #             port: 9093
      - apiVersion: gateway.networking.k8s.io/v1
        kind: HTTPRoute
        metadata:
          name: kube-prometheus-stack-prometheus
          namespace: "{{ .Release.Namespace }}"
          annotations:
            # internal-dns.alpha.kubernetes.io/target: internal.${SECRET_DOMAIN}
            # external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
            gethomepage.dev/enabled: "true"
            gethomepage.dev/icon: prometheus.png
            gethomepage.dev/name: Prometheus
            gethomepage.dev/group: Observability
            gethomepage.dev/app: prometheus
            # gethomepage.dev/widget.type: prometheus
            # gethomepage.dev/widget.url: http://kube-prometheus-stack-prometheus.observability:9090
        spec:
          hostnames:
            - "prometheus.${SECRET_DOMAIN}"
          parentRefs:
            - name: envoy-internal
              namespace: network
              sectionName: https
          rules:
            - matches:
                - path:
                    type: PathPrefix
                    value: /
              backendRefs:
                - group: ""
                  kind: Service
                  name: kube-prometheus-stack-prometheus
                  port: 9090
    prometheus-node-exporter:
      fullnameOverride: node-exporter
      prometheus:
        monitor:
          enabled: true
          relabelings:
            - action: replace
              regex: (.*)
              replacement: $1
              sourceLabels: ["__meta_kubernetes_pod_node_name"]
              targetLabel: kubernetes_node
    kube-state-metrics:
      fullnameOverride: kube-state-metrics
      metricLabelsAllowlist:
        - pods=[*]
        - deployments=[*]
        - persistentvolumeclaims=[*]
      prometheus:
        monitor:
          enabled: true
          relabelings:
            - action: replace
              regex: (.*)
              replacement: $1
              sourceLabels: ["__meta_kubernetes_pod_node_name"]
              targetLabel: kubernetes_node
    grafana:
      enabled: false
      forceDeployDashboards: true
      sidecar:
        dashboards:
          annotations:
            grafana_folder: Kubernetes
          multicluster:
            etcd:
              enabled: true
