---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mosquitto
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      mosquitto:
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
        # initContainers:
        #   init-config:
        #     image:
        #       repository: public.ecr.aws/docker/library/eclipse-mosquitto
        #       tag: 2.0.18
        #       pullPolicy: IfNotPresent
            # command: ["/bin/sh", "-c"]
            # args: ["cp /tmp/secret/* /mosquitto/external_config/ && mosquitto_passwd -U /mosquitto/external_config/mosquitto_pwd"]
        containers:
          app:
            image:
              #repository: public.ecr.aws/docker/library/eclipse-mosquitto
              repository: eclipse-mosquitto              
              tag: 2.0.18
            resources:
              requests:
                cpu: 5m
                memory: 4Mi
              limits:
                memory: 16Mi
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true                
    service:
      app:
        controller: mosquitto
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetes.io/hostname: mosquitto.${SECRET_DOMAIN}
          io.cilium/lb-ipam-ips: 192.168.3.33
        ports:
          http:
            port: 1883
    configMaps:
      config:
        enabled: true
        data:
          mosquitto.conf: |
            listener 1883
            allow_anonymous true
            persistence true
            persistence_location /mosquitto/data
            connection_messages false
    persistence:
      # data:
      #   existingClaim: mosquitto-data
      #   advancedMounts:
      #     mosquitto:
      #       app:
      #         - path: /data    
      data:
        enabled: true
        existingClaim: mosquitto-data
        globalMounts:
          - path: /data
      config:
        type: configMap
        name: mosquitto-config
        globalMounts:
          - path: /mosquitto/config/mosquitto.conf
            subPath: mosquitto.conf
      # secret-file:
      #   type: secret
      #   name: mosquitto-secret
      #   advancedMounts:
      #     mosquitto:
      #       init-config:
      #         - path: /tmp/secret
      external-config:
        type: emptyDir
        globalMounts:
          - path: /mosquitto/external_config
