---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kite
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.2.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  maxHistory: 3
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      kite:
        replicas: 1
        containers:
          app:
            image:
              repository: ghcr.io/zxh326/kite
              tag: v0.7.5
            env:
              KITE_USERNAME: ${SECRET_CAM_USERNAME}
              KITE_PASSWORD: ${SECRET_CAM_PASSWORD}
              HOST: https://kite.${SECRET_DOMAIN}
              KUBECONFIG: /config/kubeconfig
              ENABLE_ANALYTICS: true
              DB_TYPE: postgres
              DB_DSN: postgresql://${SECRET_PGADMIN_USER}:${SECRET_PGADMIN_PASSWORD}@postgres16-rw.database.svc.cluster.local:5432/kite
              DEBUG: true
              ANONYMOUS_USER_ENABLED: true

            # probes:
              # livenessProbe:
              #   httpGet:
              #     path: /healthz
              #     port: http
              #   initialDelaySeconds: 10
              #   periodSeconds: 10
              # readinessProbe:
              #   httpGet:
              #     path: /healthz
              #     port: http
              #   initialDelaySeconds: 10
              #   periodSeconds: 10
              # liveness:
              #   httpGet:
              #     path: /healthz
              #     port: http
              #   initialDelaySeconds: 10
              #   periodSeconds: 10
              # readiness:
              #   httpGet:
              #     path: /healthz
              #     port: http
              #   initialDelaySeconds: 10
              #   periodSeconds: 10
            resources:
              limits:
                cpu: 100m
                memory: 128Mi
              requests:
                cpu: 100m
                memory: 128Mi
    service:
      app:
        controller: kite
        ports:
          http:
            port: 8080
    route:
      main:
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Home
          gethomepage.dev/icon: kubernetes-dashboard.svg
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        hostnames:
          - kite.${SECRET_DOMAIN}
    # ingress:
    #   app:
    #     enabled: true
    #     className: internal
    #     annotations:
    #       hajimari.io/enable: "true"
    #       hajimari.io/icon: "account-group"
    #     hosts:
    #       - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
    #         paths:
    #           - path: /
    #             service:
    #               identifier: app
    #               port: 8080
    #     tls:
    #       - hosts:
    #           - *host

    persistence:
      config:
        enabled: true
        type: nfs
        server: 192.168.1.3
        path: /volume1/network-storage/cluster/kite
        globalMounts:
          - path: /config
