---
originRequest:
  http2Origin: true
  noHappyEyeballs: false          # Improves connection reliability

ingress:
  # Envoy Gateway rules (commented out - uncomment as you migrate services)


  # sensei
  - hostname: "dittofeed-dev.${SECRET_DOMAIN_TWO}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "dittofeed-dev.${SECRET_DOMAIN_TWO}"
  - hostname: "dittofeed.${SECRET_DOMAIN_TWO}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "dittofeed.${SECRET_DOMAIN_TWO}"
  - hostname: "dittofeed-dev-temporal.${SECRET_DOMAIN_TWO}"
    service: https://envoy-internal.network.svc.cluster.local:443
    originRequest:
      originServerName: "dittofeed-dev-temporal.${SECRET_DOMAIN_TWO}"
  - hostname: "dittofeed-temporal.${SECRET_DOMAIN_TWO}"
    service: https://envoy-internal.network.svc.cluster.local:443
    originRequest:
      originServerName: "dittofeed-temporal.${SECRET_DOMAIN_TWO}"
  - hostname: "langfuse-dev.${SECRET_DOMAIN_TWO}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "langfuse-dev.${SECRET_DOMAIN_TWO}"
  - hostname: "langfuse.${SECRET_DOMAIN_TWO}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "langfuse.${SECRET_DOMAIN_TWO}"

  - hostname: "litellm-dev.${SECRET_DOMAIN_TWO}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "litellm-dev.${SECRET_DOMAIN_TWO}"
  - hostname: "litellm.${SECRET_DOMAIN_TWO}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "litellm.${SECRET_DOMAIN_TWO}"


  - hostname: "status.${SECRET_DOMAIN_TWO}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "status.${SECRET_DOMAIN_TWO}"
  - hostname: "grafana.${SECRET_DOMAIN_TWO}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "grafana.${SECRET_DOMAIN_TWO}"
  - hostname: "rybbit.${SECRET_DOMAIN_TWO}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "rybbit.${SECRET_DOMAIN_TWO}"
  - hostname: "n8n.${SECRET_DOMAIN_TWO}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "n8n.${SECRET_DOMAIN_TWO}"

  - hostname: "dev.${SECRET_DOMAIN_TWO}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "dev.${SECRET_DOMAIN_TWO}"
  - hostname: "stage.${SECRET_DOMAIN_TWO}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "stage.${SECRET_DOMAIN_TWO}"
  - hostname: "www.${SECRET_DOMAIN_TWO}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "www.${SECRET_DOMAIN_TWO}"
  - hostname: "${SECRET_DOMAIN_TWO}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "${SECRET_DOMAIN_TWO}"



  - hostname: "admin-dev.${SECRET_DOMAIN_TWO}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "admin-dev.${SECRET_DOMAIN_TWO}"
  - hostname: "admin-stage.${SECRET_DOMAIN_TWO}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "admin-stage.${SECRET_DOMAIN_TWO}"
  - hostname: "admin.${SECRET_DOMAIN_TWO}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "admin.${SECRET_DOMAIN_TWO}"


  # media
  - hostname: "bazarr.${SECRET_DOMAIN}"
    service: https://envoy-internal.network.svc.cluster.local:443
    originRequest:
      originServerName: "bazarr.${SECRET_DOMAIN}"
  - hostname: "radarr.${SECRET_DOMAIN}"
    service: https://envoy-internal.network.svc.cluster.local:443
    originRequest:
      originServerName: "radarr.${SECRET_DOMAIN}"
  - hostname: "sonarr.${SECRET_DOMAIN}"
    service: https://envoy-internal.network.svc.cluster.local:443
    originRequest:
      originServerName: "sonarr.${SECRET_DOMAIN}"
  - hostname: "plex.${SECRET_DOMAIN}"
    service: https://envoy-internal.network.svc.cluster.local:443
    originRequest:
      originServerName: "plex.${SECRET_DOMAIN}"
  - hostname: "prowlarr.${SECRET_DOMAIN}"
    service: https://envoy-internal.network.svc.cluster.local:443
    originRequest:
      originServerName: "prowlarr.${SECRET_DOMAIN}"
  - hostname: "qb.${SECRET_DOMAIN}"
    service: https://envoy-internal.network.svc.cluster.local:443
    originRequest:
      originServerName: "qb.${SECRET_DOMAIN}"
  - hostname: "sabnzbd.${SECRET_DOMAIN}"
    service: https://envoy-internal.network.svc.cluster.local:443
    originRequest:
      originServerName: "sabnzbd.${SECRET_DOMAIN}"

  - hostname: "adguard.${SECRET_DOMAIN}"
    service: https://envoy-internal.network.svc.cluster.local:443
    originRequest:
      originServerName: "adguard.${SECRET_DOMAIN}"

  - hostname: "auth.${SECRET_DOMAIN}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "auth.${SECRET_DOMAIN}"
  - hostname: "auth.${SECRET_DOMAIN_TWO}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "auth.${SECRET_DOMAIN_TWO}"

  - hostname: "kromgo.${SECRET_DOMAIN}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "kromgo.${SECRET_DOMAIN}"

  - hostname: "hubble.${SECRET_DOMAIN}"
    service: https://envoy-internal.network.svc.cluster.local:443
    originRequest:
      originServerName: "hubble.${SECRET_DOMAIN}"
  - hostname: "minio.${SECRET_DOMAIN}"
    service: https://envoy-internal.network.svc.cluster.local:443
    originRequest:
      originServerName: "minio.${SECRET_DOMAIN}"
  - hostname: "s3.${SECRET_DOMAIN}"
    service: https://envoy-internal.network.svc.cluster.local:443
    originRequest:
      originServerName: "s3.${SECRET_DOMAIN}"

  - hostname: "prometheus.${SECRET_DOMAIN}"
    service: https://envoy-internal.network.svc.cluster.local:443
    originRequest:
      originServerName: "prometheus.${SECRET_DOMAIN}"
  - hostname: "rook.${SECRET_DOMAIN}"
    service: https://envoy-internal.network.svc.cluster.local:443
    originRequest:
      originServerName: "rook.${SECRET_DOMAIN}"
  - hostname: "grafana.${SECRET_DOMAIN}"
    service: https://envoy-internal.network.svc.cluster.local:443
    originRequest:
      originServerName: "grafana.${SECRET_DOMAIN}"
  - hostname: "homepage.${SECRET_DOMAIN}"
    service: https://envoy-internal.network.svc.cluster.local:443
    originRequest:
      originServerName: "homepage.${SECRET_DOMAIN}"
  - hostname: "kite.${SECRET_DOMAIN}"
    service: https://envoy-internal.network.svc.cluster.local:443
    originRequest:
      originServerName: "kite.${SECRET_DOMAIN}"
  - hostname: "lldap.${SECRET_DOMAIN}"
    service: https://envoy-internal.network.svc.cluster.local:443
    originRequest:
      originServerName: "lldap.${SECRET_DOMAIN}"
  - hostname: "whoami.${SECRET_DOMAIN}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "whoami.${SECRET_DOMAIN}"
  - hostname: "www.${SECRET_DOMAIN}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "www.${SECRET_DOMAIN}"
  - hostname: "${SECRET_DOMAIN}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "${SECRET_DOMAIN}"

  # Ingress-NGINX rules (current production)
  - hostname: "${SECRET_DOMAIN}"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
    originRequest:
      originServerName: "external.${SECRET_DOMAIN}"
  - hostname: "*.${SECRET_DOMAIN}"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
    originRequest:
      originServerName: "external.${SECRET_DOMAIN}"
  - hostname: "${SECRET_DOMAIN_TWO}"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
    originRequest:
      originServerName: "external.${SECRET_DOMAIN_TWO}"
  - hostname: "*.${SECRET_DOMAIN_TWO}"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
    originRequest:
      originServerName: "external.${SECRET_DOMAIN_TWO}"

  # Catch-all rule - MUST be last
  - service: http_status:404
