---
originRequest:
  http2Origin: true
  noHappyEyeballs: false          # Improves connection reliability

ingress:
  # - hostname: "whoami.${SECRET_DOMAIN}"
  #   service: https://cilium-gateway-external-gateway.kube-system.svc.cluster.local:443
  #   originRequest:
  #     originServerName: "external-gateway.${SECRET_DOMAIN}"
  - hostname: "${SECRET_DOMAIN}"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
    originRequest:
      originServerName: "external.${SECRET_DOMAIN}"
  - hostname: "*.${SECRET_DOMAIN}"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
    originRequest:
      originServerName: "external.${SECRET_DOMAIN}"
  - hostname: "${SECRET_DOMAIN_TWO}"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
    originRequest:
      originServerName: "external.${SECRET_DOMAIN_TWO}"
  - hostname: "*.${SECRET_DOMAIN_TWO}"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
    originRequest:
      originServerName: "external.${SECRET_DOMAIN_TWO}"
  - service: http_status:404

  # Add new rules for Envoy Gateway (commented out initially)
  # Uncomment these as you migrate services
  - hostname: "whoami.${SECRET_DOMAIN}"  # Specific service
    service: https://envoy-network-envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "whoami.${SECRET_DOMAIN}"
