---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vertical-pod-autoscaler
spec:
  interval: 1m
  chart:
    spec:
      chart: vpa
      version: 4.10.1
      sourceRef:
        kind: HelmRepository
        name: fairwinds-charts
        namespace: flux-system
  dependsOn:
    - name: metrics-server
      namespace: kube-system
  values:
    # only used for goldilocks right now, so only the recommender is needed
    recommender:
      enabled: true
      image:
        repository: registry.k8s.io/autoscaling/vpa-recommender
        tag: 1.5.1@sha256:e629c61b75ebec1c2db0a9657de975b116458e4e4b5d847fa402159d993dfd3b
    updater:
      enabled: false
    admissionController:
      enabled: false
    metrics-server:
      enabled: false
