---
  # To allow sign in both with username and email, one can use a filter like
  #  users_filter: (&(|({username_attribute}={input})({mail_attribute}={input}))(objectClass=person))
authentication_backend:
  ldap:
    address: ldap://lldap.default.svc.cluster.local:389
    implementation: custom
    timeout: 5s
    start_tls: false
    base_dn: dc=home,dc=arpa
    additional_users_dn: ou=people
    users_filter: (&({username_attribute}={input})(objectClass=person))
    additional_groups_dn: ou=groups
    groups_filter: (member={dn})
    user: uid=admin,ou=people,dc=home,dc=arpa
    attributes:
      username: uid
      display_name: displayName
      group_name: cn
      mail: mail
      member_of: memberOf
  password_reset:
    disable: false
  refresh_interval: 1m

# server:
#   headers:
#     cache_control: no-store
#     pragma: no-cache
#     x-frame-options: SAMEORIGIN
#     x-xss-protection: 1; mode=block

session:
  same_site: lax
  inactivity: 5m
  expiration: 1h
  remember_me: 1M
  cookies:
    - name: '{{ env "SECRET_DOMAIN" }}_session'
      domain: '{{ env "SECRET_DOMAIN" }}'
      authelia_url: 'https://auth.{{ env "SECRET_DOMAIN" }}'
      default_redirection_url: 'https://{{ env "SECRET_DOMAIN" }}'
    - name: '{{ env "SECRET_DOMAIN_TWO" }}_session'
      domain: '{{ env "SECRET_DOMAIN_TWO" }}'
      authelia_url: 'https://auth.{{ env "SECRET_DOMAIN_TWO" }}'
      default_redirection_url: 'https://{{ env "SECRET_DOMAIN_TWO" }}'
  redis:
    database_index: 2
    host: dragonfly.database.svc.cluster.local

notifier:
  disable_startup_check: true
  smtp:
    username: '{{ env "SECRET_MAIL_USERNAME" }}'
    # Password can also be set using a secret: https://www.authelia.com/configuration/methods/secrets/
    password: '{{ env "SECRET_MAIL_PASSWORD" }}'
    sender: '{{ env "SECRET_DOMAIN"}} auth <auth@{{ env "SECRET_DOMAIN" }}>'
    address: '{{ env "SECRET_MAIL_HOST" }}:{{ env "SECRET_MAIL_PORT" }}'
    # host: '{{ env "SECRET_MAIL_HOST" }}'
    # port: '{{ env "SECRET_MAIL_PORT" }}'

totp:
  disable: false
  issuer: authelia.com

webauthn:
  disable: true

duo_api:
  disable: true

access_control:
  default_policy: one_factor
  networks:
    - name: internal
      networks: ["10.0.0.0/8", "172.16.0.0/12", "192.168.0.0/16"]
  rules:

regulation:
  max_retries: 3
  find_time: 2m
  ban_time: 5m

identity_providers:
  oidc:
    cors:
      endpoints: ["authorization", "token", "revocation", "introspection"]
      allowed_origins_from_client_redirect_uris: true
    jwks:
      - key_id: default
        key: {{ env "JWKS_KEY" | mindent 10 "|" | msquote }}
    clients:
      - client_id: grafana
        client_name: grafana
        client_secret: '{{ env "SECRET_OAUTH_CLIENT_SECRET"}}'
        public: false
        require_pkce: true
        authorization_policy: one_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "groups", "email"]
        redirect_uris: ['https://grafana.{{ env "SECRET_DOMAIN" }}/login/generic_oauth']
        userinfo_signed_response_alg: none
      - client_id: grafana-sensei
        client_name: grafana-sensei
        client_secret: '{{ env "SECRET_OAUTH_CLIENT_SECRET"}}'
        public: false
        require_pkce: true
        authorization_policy: one_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "groups", "email"]
        redirect_uris: ['https://grafana.{{ env "SECRET_DOMAIN_TWO" }}/login/generic_oauth']
        userinfo_signed_response_alg: none
      - client_id: minio
        client_name: Minio
        client_secret: '{{ env "SECRET_OAUTH_CLIENT_SECRET"}}'
        public: false
        authorization_policy: one_factor
        pre_configured_consent_duration: 1y
        redirect_uris: ['https://minio.{{ env "SECRET_DOMAIN" }}/oauth_callback']
        scopes: ["openid", "profile", "groups", "email"]
        userinfo_signed_response_alg: none
      - client_id: pgadmin
        client_name: pgAdmin
        client_secret: '{{ env "SECRET_OAUTH_CLIENT_SECRET"}}'
        public: false
        authorization_policy: one_factor
        redirect_uris: https://pgadmin.{{ env "SECRET_DOMAIN" }}/oauth2/authorize
        scopes: ["openid", "profile", "groups", "email"]
        userinfo_signed_response_alg: none
      - client_id: langfuse3
        client_name: langfuse3
        client_secret: '{{ env "SECRET_OAUTH_CLIENT_SECRET"}}'
        authorization_policy: one_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "groups", "email"]
        redirect_uris: ['https://langfuse.{{ env "SECRET_DOMAIN_TWO" }}/api/auth/callback/custom']
        userinfo_signed_response_alg: none
      - client_id: langfuse-dev
        client_name: langfuse-dev
        client_secret: '{{ env "SECRET_OAUTH_CLIENT_SECRET"}}'
        authorization_policy: one_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "groups", "email"]
        redirect_uris: ['https://langfuse-dev.{{ env "SECRET_DOMAIN_TWO" }}/api/auth/callback/custom']
        userinfo_signed_response_alg: none
      - client_id: kite
        client_name: kite
        client_secret: '{{ env "SECRET_OAUTH_CLIENT_SECRET"}}'
        authorization_policy: one_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "groups", "email"]
        redirect_uris: ['https://kite.{{ env "SECRET_DOMAIN" }}/api/auth/callback']
        userinfo_signed_response_alg: none
      - client_id: litellm
        client_name: litellm
        client_secret: '{{ env "SECRET_OAUTH_CLIENT_SECRET"}}'
        authorization_policy: one_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "groups", "email"]
        redirect_uris: ['https://litellm.{{ env "SECRET_DOMAIN_TWO" }}/sso/callback']
        userinfo_signed_response_alg: none
      - client_id: litellm-dev
        client_name: litellm-dev
        client_secret: '{{ env "SECRET_OAUTH_CLIENT_SECRET"}}'
        authorization_policy: one_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "groups", "email"]
        redirect_uris: ['https://litellm-dev.{{ env "SECRET_DOMAIN_TWO" }}/sso/callback']
        userinfo_signed_response_alg: none
      - client_id: ds1522
        client_name: ds1522
        client_secret: '{{ env "SECRET_OAUTH_CLIENT_SECRET"}}'
        public: false
        authorization_policy: one_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "groups", "email"]
        redirect_uris: ['https://ds1522.{{ env "SECRET_DOMAIN" }}']
        # redirect_uris: ['https://ds1522:5001']
        userinfo_signed_response_alg: none
        token_endpoint_auth_method: client_secret_post
      - client_id: diskstation
        client_name: diskstation
        client_secret: '{{ env "SECRET_OAUTH_CLIENT_SECRET"}}'
        public: false
        authorization_policy: one_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "groups", "email"]
        redirect_uris: ['https://diskstation.{{ env "SECRET_DOMAIN" }}']
        userinfo_signed_response_alg: none
        token_endpoint_auth_method: client_secret_post
