---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app bazarr
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/media/bazarr/app
  components:
    - ../../../../components/volsync
  postBuild:
    substitute:
      APP: bazarr
      VOLSYNC_CAPACITY: 5Gi
      VOLSYNC_SCHEDULE: "0 6 * * *"
      VOLSYNC_UID: "1025"
      VOLSYNC_GID: "1025"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
