---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      qbittorrent:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          coredns:
            restartPolicy: Always
            image:
              repository: mirror.gcr.io/coredns/coredns
              tag: 1.12.3
            args:
              - -conf
              - /etc/coredns/Corefile
          gluetun:
            restartPolicy: Always
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.41.0@sha256:6b54856716d0de56e5bb00a77029b0adea57284cf5a466f23aad5979257d3045
            env:
              DOT: "off"
              DNS_ADDRESS: "127.0.0.2"
              VPN_SERVICE_PROVIDER: custom
              VPN_TYPE: wireguard
              VPN_INTERFACE: wg0
              FIREWALL_ALLOWED_SUBNETS: "10.69.0.0/16,192.168.1.0/24,10.42.0.0/16"
              FIREWALL_OUTBOUND_SUBNETS: "10.69.0.0/16,192.168.1.0/24,10.42.0.0/16"
              FIREWALL_VPN_INPUT_PORTS: "80,50413"
              FIREWALL_INPUT_PORTS: "80,50413"
            envFrom:
              - secretRef:
                  name: qbt-secrets
            securityContext:
              runAsUser: 0
              capabilities:
                add:
                  - NET_ADMIN

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4@sha256:e9c2c24ad2b39fa0ee44de682bf26b14bf23cffea1de9e1f082f26caed4277f9
            env:
              TZ: America/New_York
              QBT_WEBUI_PORT: &port 80
              QBT_TORRENTING_PORT: &torrentPort 50413
              QBT_Preferences__WebUI__AlternativeUIEnabled: true
              QBT_Preferences__WebUI__RootFolder: /add-ons/VueTorrent
              QBT_Preferences__WebUI__LocalHostAuth: false
              QBT_Preferences__WebUI__AuthSubnetWhitelistEnabled: true
              QBT_Preferences__WebUI__AuthSubnetWhitelist: |-
                10.69.0.0/16, 192.168.1.0/24
            # probes:
            #   liveness: &probes
            #     enabled: true
            #     custom: true
            #     spec:
            #       httpGet:
            #         path: /api/v2/app/version
            #         port: *port
            #       initialDelaySeconds: 0
            #       periodSeconds: 10
            #       timeoutSeconds: 1
            #       failureThreshold: 3
            #   readiness: *probes
              # startup:
              #   enabled: true
              #   spec:
              #     failureThreshold: 30
              #     periodSeconds: 10
            securityContext:
              runAsUser: 1025
              runAsGroup: 1025
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 12Gi
          vuetorrent:
            dependsOn: app
            image:
              repository: registry.k8s.io/git-sync/git-sync
              tag: v4.5.0
            args:
              - --repo=https://github.com/WDaan/VueTorrent
              - --ref=latest-release
              - --period=86400s
              - --root=/add-ons
            securityContext:
              runAsUser: 1025
              runAsGroup: 1025

    service:
      app:
        controller: qbittorrent
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: 192.168.3.48
        ports:
          http:
            port: *port
          bittorrent:
            enabled: true
            port: *torrentPort
            protocol: TCP
    route:
      main:
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media
          gethomepage.dev/icon: qbittorrent.svg
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        hostnames:
          - qb.${SECRET_DOMAIN}
        rules:
          - backendRefs:
              - name: *app
                port: *port

    # ingress:
    #   app:
    #     annotations:
    #       hajimari.io/enable: "true"
    #       hajimari.io/icon: material-symbols:cloud-download
    #     enabled: true
    #     className: internal
    #     hosts:
    #       - host: &host qb.${SECRET_DOMAIN}
    #         paths:
    #           - path: /
    #             service:
    #               identifier: app
    #               port: *port
    #     tls:
    #       - hosts:
    #           - *host
    persistence:
      config:
        enabled: true
        type: nfs
        server: 192.168.1.3
        path: /volume1/network-storage/cluster/qbittorrent
        globalMounts:
          - path: /config
      downloads:
        enabled: true
        type: nfs
        server: 192.168.1.3
        path: /volume1/network-storage/downloads
        globalMounts:
          - path: /downloads
      add-ons:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /add-ons
      coredns:
        name: qbittorrent-coredns
        type: configMap
        advancedMounts:
          qbittorrent:
            coredns:
              - path: /etc/coredns/Corefile
                subPath: Corefile
                readOnly: true
