---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: dittofeed-clickhouse
  annotations:
    helm.sh/resource-policy: keep
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 50Gi
  storageClassName: ceph-block-retain
