---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sensei-prod-app
  namespace: sensei
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  maxHistory: 3
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      sensei-prod-app:
        replicas: 3
        containers:
          app:
            image:
              repository: ghcr.io/clarknova99/project-sensei/frontend
              tag: main-1.0.0@sha256:8af2808885170ac3b564d311588c66283630a4f1a106d031054c3c34b4e21bb9
              pullPolicy: Always
            env:
              SENSEI_API_KEY: ${SECRET_SENSEI_API_KEY}
              API_HOST: sensei-prod-api.sensei.svc.cluster.local
              ENVIRONMENT: prod
              GOOGLE_CLIENT_ID: ${SECRET_GOOGLE_CLIENT_ID}
              GOOGLE_CLIENT_SECRET: ${SECRET_GOOGLE_CLIENT_SECRET}
              GOOGLE_REDIRECT_URI: ${SECRET_GOOGLE_REDIRECT_URI}
              STRIPE_PUBLISHABLE_KEY_FRONTEND: ${SECRET_SENSEI_STRIPE_PUBLISHABLE_KEY_FRONTEND}
              CLOUDFLARE_TURNSTILE_SITE_KEY: ${SECRET_SENSEI_CLOUDFLARE_TURNSTILE_SITE_KEY}
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: 8000
                  initialDelaySeconds: 45
                  periodSeconds: 45
                  timeoutSeconds: 10
                  failureThreshold: 3
                  successThreshold: 1
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: 8000
                  initialDelaySeconds: 5
                  periodSeconds: 45
                  timeoutSeconds: 10
                  failureThreshold: 2
                  successThreshold: 1
        pod:
          # imagePullPolicy: Always
          imagePullSecrets:
            - name: sensei-secret
    # defaultPodOptions:
    #   affinity:
    #     nodeAffinity:
    #       preferredDuringSchedulingIgnoredDuringExecution:
    #         - weight: 1
    #           preference:
    #             matchExpressions:
    #               - key: kubernetes.io/hostname
    #                 operator: "In"
    #                 values: ["jupiter"]
    # defaultPodOptions:
    #   affinity:
    #     nodeAffinity:
    #       requiredDuringSchedulingIgnoredDuringExecution:
    #         nodeSelectorTerms:
    #           - matchExpressions:
    #               - key: kubernetes.io/hostname
    #                 operator: NotIn
    #                 values: ["mars"]
    service:
      app:
        controller: sensei-prod-app
        ports:
          http:
            port: 8000
    ingress:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN_TWO}"
          nginx.ingress.kubernetes.io/proxy-connect-timeout: "240"
          nginx.ingress.kubernetes.io/proxy-read-timeout: "240"
          nginx.ingress.kubernetes.io/proxy-send-timeout: "240"
          hajimari.io/enable: "true"
          hajimari.io/icon: mdi:math-compass
        className: external
        hosts:
          - host: www.${SECRET_DOMAIN_TWO}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: 8000
          - host: ${SECRET_DOMAIN_TWO}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: 8000
        tls:
          - hosts:
              - www.${SECRET_DOMAIN_TWO}
              - ${SECRET_DOMAIN_TWO}
      adstxt:
        annotations:
          nginx.ingress.kubernetes.io/permanent-redirect: https://srv.adstxtmanager.com/19390/${SECRET_DOMAIN_TWO}
        className: external
        hosts:
          - host: www.${SECRET_DOMAIN_TWO}
            paths:
              - path: /ads.txt
                pathType: Exact
                service:
                  identifier: app
                  port: 8000
          - host: ${SECRET_DOMAIN_TWO}
            paths:
              - path: /ads.txt
                pathType: Exact
                service:
                  identifier: app
                  port: 8000
        tls:
          - hosts:
              - www.${SECRET_DOMAIN_TWO}
              - ${SECRET_DOMAIN_TWO}
