---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sensei-prod-app
  namespace: sensei
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  maxHistory: 3
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      sensei-prod-app:
        replicas: 3
        containers:
          app:
            image:
              repository: ghcr.io/clarknova99/project-sensei/frontend
              tag: main-1.0.0@sha256:ad597a525383a75d0204144b47f59aadd60c235afa41bda5ba3bddaa33c3a073
              pullPolicy: Always
            env:
              SENSEI_API_KEY: ${SECRET_SENSEI_API_KEY}
              SESSION_SECRET_KEY: ${SECRET_SENSEI_API_KEY}
              API_HOST: sensei-prod-api.sensei.svc.cluster.local
              ENVIRONMENT: production
              GOOGLE_CLIENT_ID: ${SECRET_GOOGLE_CLIENT_ID}
              GOOGLE_CLIENT_SECRET: ${SECRET_GOOGLE_CLIENT_SECRET}
              GOOGLE_REDIRECT_URI: https://www.${SECRET_GOOGLE_REDIRECT_URI}
              STRIPE_PUBLISHABLE_KEY_FRONTEND: ${SECRET_SENSEI_STRIPE_PROD_PUBLISHABLE_KEY}
              STRIPE_WEBHOOK_SIGNING_SECRET: ${SECRET_SENSEI_STRIPE_PROD_WEBHOOK_SIGNING_SECRET}
              PADDLE_PROD_TOKEN: ${SECRET_SENSEI_PADDLE_PROD_TOKEN}
              CLOUDFLARE_TURNSTILE_SITE_KEY: ${SECRET_SENSEI_CLOUDFLARE_TURNSTILE_SITE_KEY}
              ENABLE_REASONING_DISPLAY: "false"
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: 8000
                  initialDelaySeconds: 45
                  periodSeconds: 60
                  timeoutSeconds: 10
                  failureThreshold: 3
                  successThreshold: 1
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: 8000
                  initialDelaySeconds: 5
                  periodSeconds: 60
                  timeoutSeconds: 10
                  failureThreshold: 2
                  successThreshold: 1
        pod:
          # imagePullPolicy: Always
          imagePullSecrets:
            - name: sensei-secret
    # defaultPodOptions:
    #   affinity:
    #     nodeAffinity:
    #       preferredDuringSchedulingIgnoredDuringExecution:
    #         - weight: 1
    #           preference:
    #             matchExpressions:
    #               - key: kubernetes.io/hostname
    #                 operator: "In"
    #                 values: ["jupiter"]
    defaultPodOptions:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: NotIn
                    values: ["mars"]
    service:
      app:
        controller: sensei-prod-app
        ports:
          http:
            port: &port 8000
    route:
      main:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: "Sensei App"
          gethomepage.dev/icon: mdi-chess-knight-#7C4DFF
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        hostnames:
          - ${SECRET_DOMAIN_TWO}
          - www.${SECRET_DOMAIN_TWO}
        rules:
          - backendRefs:
              - name: sensei-prod-app
                port: *port
    # ingress:
    #   app:
    #     annotations:
    #       external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN_TWO}"
    #       nginx.ingress.kubernetes.io/proxy-connect-timeout: "240"
    #       nginx.ingress.kubernetes.io/proxy-read-timeout: "240"
    #       nginx.ingress.kubernetes.io/proxy-send-timeout: "240"
    #       hajimari.io/enable: "true"
    #       hajimari.io/icon: mdi:math-compass
    #     className: external
    #     hosts:
    #       - host: www.${SECRET_DOMAIN_TWO}
    #         paths:
    #           - path: /
    #             pathType: Prefix
    #             service:
    #               identifier: app
    #               port: 8000
    #       - host: ${SECRET_DOMAIN_TWO}
    #         paths:
    #           - path: /
    #             pathType: Prefix
    #             service:
    #               identifier: app
    #               port: 8000
    #     tls:
    #       - hosts:
    #           - www.${SECRET_DOMAIN_TWO}
    #           - ${SECRET_DOMAIN_TWO}
