---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: dittofeed-dev-clickhouse
spec:
  accessModes: ["ReadWriteMany"]
  resources:
    requests:
      storage: 20Gi
  storageClassName: ceph-block
