---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: dittofeed-dev-clickhouse
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 20Gi
  storageClassName: openebs-hostpath
