---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app radarr
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: cloudnative-pg-cluster
  path: ./kubernetes/apps/media/radarr/app
  components:
    - ../../../../components/volsync
  postBuild:
    substitute:
      APP: radarr
      VOLSYNC_CAPACITY: 15Gi
      VOLSYNC_SCHEDULE: "0 9 * * *"
      VOLSYNC_UID: "1025"
      VOLSYNC_GID: "1025"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
