---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name sensei-runner
spec:
  interval: 30m
  chart:
    spec:
      chart: gha-runner-scale-set
      version: 0.13.1
      sourceRef:
        kind: HelmRepository
        name: actions-runner-controller
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    githubConfigUrl: https://github.com/clarknova99/project-sensei
    githubConfigSecret: actions-runner-runner-secrets
    minRunners: 3
    maxRunners: 6
    containerMode:
      type: kubernetes
      kubernetesModeWorkVolumeClaim:
        accessModes: ["ReadWriteOnce"]
        storageClassName: openebs-hostpath
        resources:
          requests:
            storage: 25Gi
    controllerServiceAccount:
      name: actions-runner-controller
      namespace: actions-runner-system
    template:
      spec:
        initContainers:
          - name: install-compose
            image: docker:29.1.4-dind-alpine3.23
            command:
              - sh
              - -c
              - |
                wget -q "https://github.com/docker/compose/releases/download/v5.0.0/docker-compose-linux-x86_64" -O /compose-plugin/docker-compose
                chmod +x /compose-plugin/docker-compose
            volumeMounts:
              - mountPath: /compose-plugin
                name: compose-plugin
        containers:
          - name: runner
            image: ghcr.io/home-operations/actions-runner:2.330.0@sha256:92a45e47f4b349f4da2307ebaaea5443cc86d1ce625d37acf2c61b3b09192e47
            command: ["/home/runner/run.sh"]
            env:
              - name: ACTIONS_RUNNER_REQUIRE_JOB_CONTAINER
                value: "false"
              - name: NODE
                valueFrom:
                  fieldRef:
                    fieldPath: status.hostIP
              - name: DOCKER_HOST
                value: tcp://localhost:2376
              - name: DOCKER_TLS_VERIFY
                value: "1"
              - name: DOCKER_CERT_PATH
                value: /certs/client/client
            volumeMounts:
              - mountPath: /var/run/secrets/talos.dev
                name: talos
                readOnly: true
              - mountPath: /certs/client
                name: docker-certs
                readOnly: true
              - mountPath: /usr/local/lib/docker/cli-plugins/docker-compose
                name: compose-plugin
                subPath: docker-compose
                readOnly: true
          - name: dind
            image: docker:29.1.4-dind-alpine3.23
            securityContext:
              privileged: true
            env:
              - name: DOCKER_TLS_CERTDIR
                value: /certs
            volumeMounts:
              - mountPath: /certs
                name: docker-certs
              - mountPath: /var/lib/docker
                name: work
                subPath: docker
        serviceAccountName: home-ops-runner
        volumes:
          - name: talos
            secret:
              secretName: actions-runner-runner-secrets
          - name: docker-certs
            emptyDir: {}
          - name: compose-plugin
            emptyDir: {}

