---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sensei-dev-app
  namespace: sensei
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  maxHistory: 3
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      sensei-dev-app:
        replicas: 1
        containers:
          app:
            image:
              repository: ghcr.io/clarknova99/project-sensei/frontend
              tag: dev-latest@sha256:82fefa9df036733ae8c509b58c98516c0ff4e87c98780448b3af632e048cda3c
              pullPolicy: Always
            env:
              SENSEI_API_KEY: ${SECRET_SENSEI_API_KEY}
              SESSION_SECRET_KEY: ${SECRET_SENSEI_API_KEY}
              API_HOST: sensei-dev-api.sensei.svc.cluster.local
              ENVIRONMENT: dev
              GOOGLE_CLIENT_ID: ${SECRET_GOOGLE_CLIENT_ID}
              GOOGLE_CLIENT_SECRET: ${SECRET_GOOGLE_CLIENT_SECRET}
              GOOGLE_REDIRECT_URI: https://dev.${SECRET_GOOGLE_REDIRECT_URI}
              STRIPE_PUBLISHABLE_KEY_FRONTEND: ${SECRET_SENSEI_STRIPE_PUBLISHABLE_KEY_FRONTEND}
              STRIPE_WEBHOOK_SIGNING_SECRET: ${SECRET_SENSEI_STRIPE_TEST_WEBHOOK_SIGNING_SECRET}
              PADDLE_TEST_TOKEN: ${SECRET_SENSEI_PADDLE_TEST_TOKEN}
              CLOUDFLARE_TURNSTILE_SITE_KEY: ${SECRET_SENSEI_CLOUDFLARE_TURNSTILE_SITE_KEY}
        pod:
          # imagePullPolicy: Always
          imagePullSecrets:
            - name: sensei-secret
    defaultPodOptions:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: NotIn
                    values: ["mars"]
    service:
      app:
        controller: sensei-dev-app
        ports:
          http:
            port: &port 8000
    route:
      main:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Sensei
          gethomepage.dev/icon: https://senseichess.com/static/images/knight2.svg
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        hostnames:
          - dev.${SECRET_DOMAIN_TWO}
        rules:
          - backendRefs:
              - name: sensei-dev-app
                port: *port
# ingress:
#   app:
#     annotations:
#       nginx.ingress.kubernetes.io/affinity: "cookie"
#       nginx.ingress.kubernetes.io/session-cookie-name: "route"
#       nginx.ingress.kubernetes.io/session-cookie-max-age: "3600"
#       external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN_TWO}"
#       hajimari.io/enable: "true"
#       hajimari.io/icon: mdi:math-compass
#     className: external
#     hosts:
#       - host: dev.${SECRET_DOMAIN_TWO}
#         paths:
#           - path: /
#             service:
#               identifier: app
#               port: 8000
#     tls:
#       - hosts:
#           - dev.${SECRET_DOMAIN_TWO}
