---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: goldilocks
spec:
  interval: 5m
  chart:
    spec:
      chart: goldilocks
      version: 10.1.0
      sourceRef:
        kind: HelmRepository
        name: fairwinds-charts
        namespace: flux-system
      interval: 5m
  timeout: 20m
  values:
    controller:
      resources:
        requests:
          cpu: 32m
          memory: 64Mi
        limits:
          cpu: 100m
          memory: 512Mi
    vpa:
      enabled: false
      updater:
        enabled: false
    dashboard:
        resources:
          limits:
            cpu: 100m
            memory: 300Mi
        replicaCount: 1
        ingress:
          enabled: true
          ingressClassName: internal
          annotations:
            hajimari.io/enable: "true"
          hosts:
            - host: goldilocks.${SECRET_DOMAIN}
              paths:
                - path: /
                  type: Prefix
          # tls:
          #   - hosts:
          #       - goldilocks.${SECRET_DOMAIN}
