---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app adguard
spec:

  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      adguard:
        strategy: RollingUpdate
        annotations:
          # Since we don't link the config map here but use k8s-sidecar,
          # we have to tell stakater the config map it needs to monitor
          configmap.reloader.stakater.com/reload: *app
        pod:
          dnsConfig:
            options:
              - { name: ndots, value: "1" }
          securityContext:
            runAsNonRoot: false # Adguard doesn't support running as non-root
            runAsUser: 65534
            runAsGroup: 65534
            fsGroup: 65534
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: { type: RuntimeDefault }
        initContainers:
          init-config:
            image: &configSyncImage
              repository: ghcr.io/kiwigrid/k8s-sidecar
              tag: 1.30.6@sha256:6f798138d8c0726f51fb92dd60d2651ffbbb4bcada53169700110b66b05d62f7
            env:
              FOLDER: /opt/adguardhome/conf
              LABEL: app.kubernetes.io/config-owner
              LABEL_VALUE: *app
              UNIQUE_FILENAMES: false
              METHOD: LIST
            resources: &configSyncResources
              requests:
                cpu: 10m
                memory: 10Mi
              limits:
                memory: 128Mi
        # containers:
        #   app:
        #     image:
        #       repository: adguard/adguardhome
        #       tag: v0.107.62@sha256:b04764acecf1f663a23f55e95724a3c7ca0dc7f3a6f957d29005728b6bd036f2
        #     env:
        #       TZ: America/New_York
        #     probes:
        #       liveness: &probes
        #         enabled: true
        #         custom: false
        #         type: TCP
        #       readiness: *probes
        #     resources:
        #       requests:
        #         cpu: 10m
        #         memory: 256M
        #       limits:
        #         memory: 512M
        containers:
          app:
            image:
              repository: adguard/adguardhome
              tag: v0.107.63@sha256:320ab49bd5f55091c7da7d1232ed3875f687769d6bb5e55eb891471528e2e18f
            env:
              TZ: America/New_York
            probes:
              liveness: &probes
                enabled: true
                custom: false
                type: TCP
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 256M
              limits:
                memory: 512M
            # TODO: [adguard] Add service monitors
          config-sync:
            image: *configSyncImage
            env:
              FOLDER: /opt/adguardhome/conf
              LABEL: app.kubernetes.io/config-owner
              LABEL_VALUE: *app
              UNIQUE_FILENAMES: false
              METHOD: WATCH
            resources: *configSyncResources

    service:
      app:
        controller: adguard
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: "192.168.3.25"
        ports:
          http:
            enabled: true
            port: 80
            protocol: TCP
            targetPort: 80
          dns-tcp:
            port: 53
            protocol: TCP
          dns-udp:
            port: 53
            protocol: UDP
          tls-tcp:
            port: 853
            protocol: TCP
    ingress:
      app:
        className: internal
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      config-work:
        storageClass: openebs-hostpath
        accessMode: ReadWriteOnce
        size: 1Gi
        globalMounts:
          - path: /opt/adguardhome/work
      config-conf:
        storageClass: openebs-hostpath
        accessMode: ReadWriteOnce
        size: 1Gi
        globalMounts:
          - path: /opt/adguardhome/conf
    # persistence:
    #   data:
    #     enabled: true
    #     type: nfs
    #     server: 192.168.1.3
    #     path: /volume1/network-storage/cluster/adguard
    #     globalMounts:
    #       - path: /opt/adguardhome
