---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app adguard
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      adguard:
        replicas: 1
        strategy: RollingUpdate

        containers:
          app:
            image:
              repository: adguard/adguardhome
              tag: v0.107.64@sha256:23243d0004d9398cf9c83bdfce3dd92005df72aef010f537e7325a021f31a6f5
            env:
              TZ: America/New_York

    service:
      app:
        controller: adguard
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        annotations:
          lbipam.cilium.io/ips: "192.168.3.25"
        ports:
          http:
            primary: true
            port: 80
          https:
            port: 443
            protocol: TCP
          dns-tcp:
            port: 53
            protocol: TCP
          dns-udp:
            port: 53
            protocol: UDP
          dns-tls:
            enabled: true
            port: 853
            protocol: TCP

    persistence:
      work:
        enabled: true
        type: nfs
        server: 192.168.1.3
        path: /volume1/network-storage/cluster/adguard/work
        globalMounts:
          - path: /opt/adguardhome/work
            subPath: work
      conf:
        enabled: true
        type: nfs
        server: 192.168.1.3
        path: /volume1/network-storage/cluster/adguard/conf
        globalMounts:
          - path: /opt/adguardhome/conf
            subPath: conf
      # Add this new persistence mount for the certificate
      tls-cert:
        enabled: true
        type: secret
        name: "${SECRET_DOMAIN/./-}-production-tls"
        defaultMode: 0400  # Read-only for security
        globalMounts:
          - path: /opt/adguardhome/certs
            readOnly: true
    ingress:
      app:
        className: internal
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: &host "adguard.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
