---
# yaml-language-server: $schema=https://kochhaus-schemas.pages.dev/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres16vector
spec:
  instances: 3
  imageName: ghcr.io/cloudnative-pg/postgresql:16.3-7
  primaryUpdateStrategy: unsupervised
  storage:
    size: 50Gi
    storageClass: openebs-hostpath
    resizeInUseVolumes: False
  superuserSecret:
    name: cloudnative-pg-secrets
  enableSuperuserAccess: true
  postgresql:
    parameters:
      max_connections: "600"
      shared_buffers: 2GB # 25% of RAM
      effective_cache_size: '6GB'     #75% of RAM
      work_mem: '128MB'               # Per-operation (be conservative)
      maintenance_work_mem: '512MB'   # For VACUUM, indexes
    shared_preload_libraries:
      - "pg_stat_statements"
      # - "vectors.so"
  nodeMaintenanceWindow:
    inProgress: false
    reusePVC: true
  resources:
    requests:
      cpu: 250m
    limits:
      memory: 8Gi
  monitoring:
    enablePodMonitor: true
    # Ref: https://github.com/cloudnative-pg/cloudnative-pg/issues/2501
    # podMonitorMetricRelabelings:
    #   - { sourceLabels: ["cluster"], targetLabel: cnpg_cluster, action: replace }
    #   - { regex: cluster, action: labeldrop }
 # Note: previousCluster needs to be set to the name of the previous
  # cluster when recovering from an existing cnpg cluster

  backup:
    retentionPolicy: 30d
    barmanObjectStore: &barmanObjectStore
      data:
        compression: bzip2
      wal:
        compression: bzip2
        maxParallel: 8
      # destinationPath: s3://cloudnative-pg/
      # endpointURL: http://minio.kube-system.svc.cluster.local:9000

      destinationPath: s3://sensei-cnpg/
      endpointURL: https://s3.us-east-1.amazonaws.com
      # Note: serverName version needs to be incremented
      # when recovering from an existing cnpg cluster
      serverName: &currentCluster postgres16vector-v3
      s3Credentials:
        accessKeyId:
          name: cloudnative-pg-secrets
          key: SENSEI_AWS_ACCESS_KEY_ID
        secretAccessKey:
          name: cloudnative-pg-secrets
          key: SENSEI_AWS_SECRET_ACCESS_KEY

  bootstrap:
    # initdb:
    #   postInitSQL:
    #   - create EXTENSION vector
    recovery:
      source: &previousCluster postgres16vector-v2

  # Note: externalClusters is needed when recovering from an existing cnpg cluster
  externalClusters:
    - name: *previousCluster
      barmanObjectStore:
        <<: *barmanObjectStore
        serverName: *previousCluster
