---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kopia
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      kopia:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-repo:
            image:
              repository: ghcr.io/home-operations/kopia
              tag: 0.22.3@sha256:17ab64542280197a5368247deaefadc3e3bbe15714ab666c2455a06824e86efd
            env:
              KOPIA_CONFIG_PATH: /config/repository.config
              KOPIA_CACHE_DIRECTORY: /config/cache
              KOPIA_LOG_DIR: /config/logs
              TZ: America/New_York
            envFrom:
              - secretRef:
                  name: kopia-secret
            command: ["/bin/sh", "-c"]
            args:
              - |
                cp /config-ro/repository.config /config/repository.config
                kopia repository connect filesystem --path /repository \
                  --override-hostname volsync.volsync-system.svc.cluster.local \
                  --override-username volsync || \
                kopia repository create filesystem --path /repository \
                  --override-hostname volsync.volsync-system.svc.cluster.local \
                  --override-username volsync
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/kopia
              tag: 0.22.3@sha256:17ab64542280197a5368247deaefadc3e3bbe15714ab666c2455a06824e86efd
            env:
              KOPIA_WEB_ENABLED: true
              KOPIA_WEB_PORT: &port 80
              TZ: America/New_York
            envFrom:
              - secretRef:
                  name: kopia-secret
            args:
              - --without-password
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1025
        runAsGroup: 1025
        fsGroup: 1025
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: kopia
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        hostnames:
          - "kopia.${SECRET_DOMAIN}"
    configMaps:
      config:
        data:
          repository.config: |-
            {
              "storage": {
                "type": "filesystem",
                "config": {
                  "path": "/repository"
                }
              },
              "hostname": "volsync.volsync-system.svc.cluster.local",
              "username": "volsync",
              "description": "volsync",
              "enableActions": false
            }
    persistence:
      config-ro:
        type: configMap
        identifier: config
        globalMounts:
          - path: /config-ro/repository.config
            subPath: repository.config
            readOnly: true
      config:
        type: emptyDir
        advancedMounts:
          kopia:
            init-repo:
              - path: /config
            app:
              - path: /config
      repository:
        type: nfs
        server: 192.168.1.3
        path: /volume1/network-storage/volsync-backups
        globalMounts:
          - path: /repository
      tmpfs:
        type: emptyDir
        advancedMounts:
          kopia:
            init-repo:
              - path: /tmp
                subPath: init-tmp
            app:
              - path: /tmp
                subPath: tmp
