---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kopia
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      kopia:
        annotations:
          reloader.stakater.com/auto: "true"
        # initContainers:
        #   fix-perms:
        #     image:
        #       repository: ghcr.io/home-operations/busybox
        #       tag: 1.37.0@sha256:026ed7273270ec08f6902b4ae8334c23b473e5394bec3bbbdbfe580c710d50bc
        #     command: ["/bin/sh", "-c"]
        #     args:
        #       - |
        #         find /repository -not -user 1025 -exec chown 1025:1025 {} + 2>/dev/null
        #         find /repository -type d -not -perm -g=rwx -exec chmod g+rwx {} + 2>/dev/null
        #         find /repository -type f -not -perm -g=rw -exec chmod g+rw {} + 2>/dev/null
        #         echo "Permissions fixed"
        #     securityContext:
        #       runAsUser: 0
        #       runAsNonRoot: false
        #       allowPrivilegeEscalation: false
        #       readOnlyRootFilesystem: true
        #       capabilities: { drop: ["ALL"], add: ["CHOWN", "FOWNER", "DAC_OVERRIDE"] }
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/kopia
              tag: 0.22.3@sha256:17ab64542280197a5368247deaefadc3e3bbe15714ab666c2455a06824e86efd
            env:
              KOPIA_WEB_ENABLED: true
              KOPIA_WEB_PORT: &port 80
              TZ: America/New_York
            envFrom:
              - secretRef:
                  name: kopia-secret
            args:
              - --without-password
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            # securityContext:
            #   allowPrivilegeEscalation: false
            #   readOnlyRootFilesystem: true
            #   capabilities: { drop: ["ALL"], add: ["DAC_OVERRIDE"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
    # defaultPodOptions:
    #   securityContext:
    #     runAsNonRoot: true
    #     runAsUser: 1025
    #     runAsGroup: 1025
    #     fsGroup: 1025
    #     fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: kopia
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        hostnames:
          - "kopia.${SECRET_DOMAIN}"
    configMaps:
      config:
        data:
          repository.config: |-
            {
              "storage": {
                "type": "filesystem",
                "config": {
                  "path": "/repository"
                }
              },
              "hostname": "volsync.volsync-system.svc.cluster.local",
              "username": "volsync",
              "description": "volsync",
              "enableActions": false
            }
    persistence:
      config-file:
        type: configMap
        identifier: config
        globalMounts:
          - path: /config/repository.config
            subPath: repository.config
      repository:
        type: nfs
        server: 192.168.1.3
        path: /volume1/network-storage/volsync-backups
        globalMounts:
          - path: /repository
      tmpfs:
        type: emptyDir
        advancedMounts:
          kopia:
            app:
              - path: /config/cache
                subPath: cache
              - path: /config/logs
                subPath: logs
              - path: /tmp
                subPath: tmp
