model_list:
  - model_name: llama-3.3-70b-versatile
    litellm_params:
      model: groq/llama-3.3-70b-versatile
      api_key: ${GROQ_API_KEY_LLM}
  - model_name: groq-llama-3.1-8b-instant
    litellm_params:
      model: groq/llama-3.1-8b-instant
      api_key: ${GROQ_API_KEY_LLM}
  - model_name: groq-deepseek-r1-distill-llama-70b
    litellm_params:
      model: groq/deepseek-r1-distill-llama-70b
      api_key: ${GROQ_API_KEY_LLM}
  - model_name: groq-llama-4-scout-17b-16e-instruct
    litellm_params:
      model: groq/meta-llama/llama-4-scout-17b-16e-instruct
      api_key: ${GROQ_API_KEY_LLM}
  - model_name: groq-llama-guard-4-12b
    litellm_params:
      model: groq/meta-llama/llama-guard-4-12b
      api_key: ${GROQ_API_KEY_LLM}
  - model_name: gpt-4o-mini
    litellm_params:
      model: openai/gpt-4o-mini
      api_key: ${SECRET_SENSEI_OPENAI_KEY}
  - model_name: gpt-4o
    litellm_params:
      model: openai/gpt-4o
      api_key: ${SECRET_SENSEI_OPENAI_KEY}
  - model_name: gpt-3.5-ft
    litellm_params:
      model: openai/ft:gpt-3.5-turbo-0125:personal:sensei-fine-tuned-v1:B0PBp7HZ
      api_key: ${SECRET_FT_SENSEI_OPENAI_KEY}
  - model_name: gemini-3-pro-preview
    litellm_params:
      model: gemini/gemini-3-pro-preview
      api_key: ${SECRET_SENSEI_GEMINI_KEY}
  - model_name: gemini-2.5-pro
    litellm_params:
      model: gemini/gemini-2.5-pro
      api_key: ${SECRET_SENSEI_GEMINI_KEY2}
  - model_name: openrouter-openai-gpt-oss-120b
    litellm_params:
      model: openrouter/openai/gpt-oss-120b
      api_key: ${SECRET_SENSEI_OPENROUTER_KEY}
  - model_name: openrouter-openai-gpt-oss-20b
    litellm_params:
      model: openrouter/openai/gpt-oss-20b
      api_key: ${SECRET_SENSEI_OPENROUTER_KEY}
  - model_name: openrouter-meta-llama-llama-4-scout
    litellm_params:
      model: openrouter/meta-llama/llama-4-scout
      api_key: ${SECRET_SENSEI_OPENROUTER_KEY}
  - model_name: databricks-llama-4-maverick
    litellm_params:
      model: databricks/databricks-llama-4-maverick
      api_base: ${SECRET_SENSEI_DATABRICKS_API_BASE}
      api_key: ${SECRET_SENSEI_DATABRICKS_API_KEY}
  - model_name: databricks-gpt-5-1
    litellm_params:
      model: databricks/databricks-gpt-5-1
      api_base: ${SECRET_SENSEI_DATABRICKS_API_BASE}
      api_key: ${SECRET_SENSEI_DATABRICKS_API_KEY}
  - model_name: databricks-gpt-oss-120b
    litellm_params:
      model: databricks/databricks-gpt-oss-120b
      api_base: ${SECRET_SENSEI_DATABRICKS_API_BASE}
      api_key: ${SECRET_SENSEI_DATABRICKS_API_KEY}
  - model_name: databricks-claude-sonnet-4-5
    litellm_params:
      model: databricks/databricks-claude-sonnet-4-5
      api_base: ${SECRET_SENSEI_DATABRICKS_API_BASE}
      api_key: ${SECRET_SENSEI_DATABRICKS_API_KEY}
  - model_name: databricks-gemini-2-5-pro
    litellm_params:
      model: databricks/databricks-gemini-2-5-pro
      api_base: ${SECRET_SENSEI_DATABRICKS_API_BASE}
      api_key: ${SECRET_SENSEI_DATABRICKS_API_KEY}

general_settings:
  store_model_in_db: true
  store_prompts_in_spend_logs: true

router_settings:
  fallbacks: [
    {"gemini-3-pro-preview": ["gemini-2.5-pro", "databricks-gpt-oss-120b"]},
    {"openrouter-openai-gpt-oss-120b": ["llama-3.3-70b-versatile", "openrouter-openai-gpt-oss-20b":]},
    {"groq-llama-4-scout-17b-16e-instruct": ["llama-3.3-70b-versatile", "groq-deepseek-r1-distill-llama-70b", "llama3-70b-8192", "gpt-4o-mini"]},
    {"llama-3.3-70b-versatile": ["groq-deepseek-r1-distill-llama-70b", "llama3-70b-8192", "gpt-4o-mini"]},
    {"groq-deepseek-r1-distill-llama-70b": ["llama3-70b-8192", "gpt-4o-mini"]},
    {"llama3-70b-8192": ["llama3-8b-8192", "gpt-4o-mini"]},
    {"llama3-8b-8192": ["gpt-4o-mini"]},
  ]

