---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: litellm
  namespace: sensei
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  maxHistory: 3
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      litellm:
        annotations:
          reloader.stakater.com/auto: "true"
        replicas: 1
        containers:
          app:
            image:
              repository: ghcr.io/berriai/litellm
              tag: main-stable@sha256:0ec4966e873b0da955d21dd6070fed742a2d50f9632987ce68b8c89fdc8f791e
            env:
              DATABASE_URL: postgres://${SECRET_PGADMIN_USER}:${SECRET_PGADMIN_PASSWORD}@postgres16-rw.database.svc.cluster.local:5432/litellm
              STORE_MODEL_IN_DB: "True"
              UI_USERNAME: ${SECRET_LITELLM_UI_USERNAME}
              UI_PASSWORD: ${SECRET_LITELLM_UI_PASSWORD}
            envFrom: &envFrom
              - secretRef:
                  name: litellm-secrets
            args:
              - "--config"
              - "/app/config.yaml"
    defaultPodOptions:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              preference:
                matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: "In"
                    values: ["earth"]              
    service:
      app:
        controller: litellm
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetes.io/hostname: langfuse.${SECRET_DOMAIN_TWO}
          io.cilium/lb-ipam-ips: 192.168.3.39        
        ports:
          http:
            port: 4000
    ingress:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN_TWO}"
          nginx.ingress.kubernetes.io/app-root: /ui
          # nginx.ingress.kubernetes.io/temporal-redirect: https://litellm.${SECRET_DOMAIN_TWO}/ui
          #nginx.ingress.kubernetes.io/rewrite-target: 
          # nginx.ingress.kubernetes.io/auth-method: GET
          # nginx.ingress.kubernetes.io/auth-url: http://authelia.default.svc.cluster.local/api/verify
          # nginx.ingress.kubernetes.io/auth-signin: https://auth.${SECRET_DOMAIN}?rm=$request_method
          # nginx.ingress.kubernetes.io/auth-response-headers: Remote-User,Remote-Name,Remote-Groups,Remote-Email
          # nginx.ingress.kubernetes.io/auth-snippet: proxy_set_header X-Forwarded-Method $request_method;
          hajimari.io/enable: "true"
          hajimari.io/icon: mdi:math-compass
        className: external
        enabled: true
        hosts:
          - host: litellm.${SECRET_DOMAIN_TWO}
            paths:
              - path: /
                service:
                  identifier: app
                  port: 4000
        tls:
          - hosts:
              - litellm.${SECRET_DOMAIN_TWO}
    persistence:
      config-file:
        type: configMap
        name: litellm-configmap
        globalMounts:
          - path: /app/config.yaml
            subPath: config.yaml
            readOnly: true